<?php

$pbf_dir = dirname(__FILE__)."/../CurvatureData/pbf/";
$kml_dir = dirname(__FILE__)."/../CurvatureData/kml/";
$curvature_path = dirname(__FILE__)."/../Curvature";
$curvature_site_tools_path = dirname(__FILE__)."/../CurvatureSite";
$temp_dir = '/tmp';

$wget = 'wget';
$rsync = 'rsync';
$rsync_options = '';
$rsync_target = '';

// $places[] = "africa/burkina-faso";
// $places[] = "africa/canary-islands";
// $places[] = "africa/congo-democratic-republic";
// $places[] = "africa/egypt";
// $places[] = "africa/ethiopia";
// $places[] = "africa/guinea-bissau";
// $places[] = "africa/guinea";
// $places[] = "africa/ivory-coast";
// $places[] = "africa/liberia";
// $places[] = "africa/libya";
// $places[] = "africa/madagascar";
// $places[] = "africa/morocco";
// $places[] = "africa/nigeria";
// $places[] = "africa/sierra-leone";
// $places[] = "africa/somalia";
// $places[] = "africa/south-africa-and-lesotho";
// $places[] = "africa/tanzania";
// $places[] = "africa";
// $places[] = "asia/azerbaijan";
// $places[] = "asia/bangladesh";
// $places[] = "asia/china";
// $places[] = "asia/gcc-states";
// $places[] = "asia/india";
// $places[] = "asia/indonesia";
// $places[] = "asia/iran";
// $places[] = "asia/iraq";
// $places[] = "asia/israel-and-palestine";
// $places[] = "asia/japan";
// $places[] = "asia/jordan";
// $places[] = "asia/kazakhstan";
// $places[] = "asia/kyrgyzstan";
// $places[] = "asia/lebanon";
// $places[] = "asia/malaysia-singapore-brunei";
// $places[] = "asia/maldives";
// $places[] = "asia/mongolia";
// $places[] = "asia/nepal";
// $places[] = "asia/north-korea";
// $places[] = "asia/pakistan";
// $places[] = "asia/philippines";
// $places[] = "asia/south-korea";
// $places[] = "asia/sri-lanka";
// $places[] = "asia/syria";
// $places[] = "asia/taiwan";
// $places[] = "asia/tajikistan";
// $places[] = "asia/thailand";
// $places[] = "asia/turkmenistan";
// $places[] = "asia/uzbekistan";
// $places[] = "asia/vietnam";
// $places[] = "australia-oceania/australia";
// $places[] = "australia-oceania/fiji";
// $places[] = "australia-oceania/new-caledonia";
// $places[] = "australia-oceania/new-zealand";
// $places[] = "central-america/belize";
// $places[] = "central-america/cuba";
// $places[] = "central-america/guatemala";
// $places[] = "central-america/haiti-and-domrep";
// $places[] = "central-america/nicaragua";
// $places[] = "central-america";
// $places[] = "europe/albania";
// $places[] = "europe/andorra";
// $places[] = "europe/austria";
// $places[] = "europe/azores";
// $places[] = "europe/belarus";
// $places[] = "europe/belgium";
// $places[] = "europe/bosnia-herzegovina";
// $places[] = "europe/bulgaria";
// $places[] = "europe/croatia";
// $places[] = "europe/cyprus";
// $places[] = "europe/czech-republic";
// $places[] = "europe/denmark";
// $places[] = "europe/estonia";
// $places[] = "europe/faroe-islands";
// $places[] = "europe/finland";
// $places[] = "europe/france";
// $places[] = "europe/germany";
// $places[] = "europe/great-britain";
// $places[] = "europe/greece";
// $places[] = "europe/hungary";
// $places[] = "europe/iceland";
// $places[] = "europe/ireland-and-northern-ireland";
// $places[] = "europe/isle-of-man";
// $places[] = "europe/italy";
// $places[] = "europe/kosovo";
// $places[] = "europe/latvia";
// $places[] = "europe/liechtenstein";
// $places[] = "europe/lithuania";
// $places[] = "europe/luxembourg";
// $places[] = "europe/macedonia";
// $places[] = "europe/moldova";
// $places[] = "europe/monaco";
// $places[] = "europe/montenegro";
// $places[] = "europe/netherlands";
// $places[] = "europe/norway";
// $places[] = "europe/poland";
// $places[] = "europe/portugal";
// $places[] = "europe/romania";
// $places[] = "europe/serbia";
// $places[] = "europe/slovakia";
// $places[] = "europe/slovenia";
// $places[] = "europe/spain";
// $places[] = "europe/sweden";
// $places[] = "europe/switzerland";
// $places[] = "europe/turkey";
// $places[] = "europe/ukraine";
// $places[] = "north-america/canada/alberta";
// $places[] = "north-america/canada/british-columbia";
// $places[] = "north-america/canada/manitoba";
// $places[] = "north-america/canada/new-brunswick";
// $places[] = "north-america/canada/newfoundland-and-labrador";
// $places[] = "north-america/canada/northwest-territories";
// $places[] = "north-america/canada/nova-scotia";
// $places[] = "north-america/canada/nunavut";
// $places[] = "north-america/canada/ontario";
// $places[] = "north-america/canada/prince-edward-island";
// $places[] = "north-america/canada/quebec";
// $places[] = "north-america/canada/saskatchewan";
// $places[] = "north-america/canada/yukon";
// $places[] = "north-america/greenland";
// $places[] = "north-america/mexico";
// $places[] = "north-america/us/alabama";
// $places[] = "north-america/us/alaska";
// $places[] = "north-america/us/arizona";
// $places[] = "north-america/us/arkansas";
// $places[] = "north-america/us/california";
// $places[] = "north-america/us/colorado";
// $places[] = "north-america/us/connecticut";
// $places[] = "north-america/us/delaware";
// $places[] = "north-america/us/district-of-columbia";
// $places[] = "north-america/us/florida";
// $places[] = "north-america/us/georgia";
// $places[] = "north-america/us/hawaii";
// $places[] = "north-america/us/idaho";
// $places[] = "north-america/us/illinois";
// $places[] = "north-america/us/indiana";
// $places[] = "north-america/us/iowa";
// $places[] = "north-america/us/kansas";
// $places[] = "north-america/us/kentucky";
// $places[] = "north-america/us/louisiana";
// $places[] = "north-america/us/maine";
// $places[] = "north-america/us/maryland";
// $places[] = "north-america/us/massachusetts";
// $places[] = "north-america/us/michigan";
// $places[] = "north-america/us/minnesota";
// $places[] = "north-america/us/mississippi";
// $places[] = "north-america/us/missouri";
// $places[] = "north-america/us/montana";
// $places[] = "north-america/us/nebraska";
// $places[] = "north-america/us/nevada";
// $places[] = "north-america/us/new-hampshire";
// $places[] = "north-america/us/new-jersey";
// $places[] = "north-america/us/new-mexico";
// $places[] = "north-america/us/new-york";
// $places[] = "north-america/us/north-carolina";
// $places[] = "north-america/us/north-dakota";
// $places[] = "north-america/us/ohio";
// $places[] = "north-america/us/oklahoma";
// $places[] = "north-america/us/oregon";
// $places[] = "north-america/us/pennsylvania";
// $places[] = "north-america/us/rhode-island";
// $places[] = "north-america/us/south-carolina";
// $places[] = "north-america/us/south-dakota";
// $places[] = "north-america/us/tennessee";
// $places[] = "north-america/us/texas";
// $places[] = "north-america/us/utah";
$places[] = "north-america/us/vermont";
// $places[] = "north-america/us/virginia";
// $places[] = "north-america/us/washington";
// $places[] = "north-america/us/west-virginia";
// $places[] = "north-america/us/wisconsin";
// $places[] = "north-america/us/wyoming";
// $places[] = "russia";
// $places[] = "south-america/argentina";
// $places[] = "south-america/bolivia";
// $places[] = "south-america/brazil";
// $places[] = "south-america/chile";
// $places[] = "south-america/colombia";
// $places[] = "south-america/ecuador";
// $places[] = "south-america/peru";
// $places[] = "south-america/uruguay";

$miles_places[] = "north-america/us";
$miles_places[] = "europe/great-britain";
